## Frameworks

# Shared
github "ReactiveCocoa/ReactiveCocoa" ~> 8.0
# The latest release is very old, use master until a new release is made (>3.4.2).
github "CocoaLumberjack/CocoaLumberjack" "master"

# Application
github "SnapKit/SnapKit" ~> 4.2

## Testing

# Shared
github "Quick/Quick" ~> 1.3
github "Quick/Nimble" ~> 7.3
