include:
  - Project_Logger.yml
  - Project_Core.yml
  - Project_RxExtensions.yml
  - Project_Presentations.yml
  - Project_Themer.yml
name: Application
# In a production application the Team ID would be set here.
# settings:
#  DEVELOPMENT_TEAM: "XXX"
settings:
  # These values are read in the appropriate Info.plist files.
  APPLICATION_VERSION: "0.1.0"
  APPLICATION_BUILD_NUMBER: 42 # This should automatically be incremented by CI when generating a build
  APPLICATION_NAME: AdvancediOS
options:
  bundleIdPrefix: com.advancedios
  deploymentTarget:
    iOS: "12.0"
  createIntermediateGroups: true
targets:
  Application:
    type: application
    platform: iOS
    sources:
      - Application/Source
      - Application/Supporting Files
    dependencies:
      - target: Core
      - target: RxExtensions
      - target: Presentations
      - target: Themer
      - target: Logger
      - carthage: RxSwift
      - carthage: RxRelay
      - carthage: RxCocoa
      - carthage: SnapKit
    scheme:
      testTargets:
        - ApplicationTests
      gatherCoverageData: true
    prebuildScripts:
      - path: Shared/Scripts/swiftlint-check.sh
        name: Swift Lint Check
  ApplicationTests:
    platform: iOS
    type: bundle.unit-test
    settings:
      TEST_HOST: "$(BUILT_PRODUCTS_DIR)/Application.app/Application"
    sources:
      - Application/Tests
      - Presentations/Tests/Stubs
      - Themer/Tests/Stubs
    dependencies:
      - target: Application
      - carthage: Quick
      - carthage: Nimble
      - carthage: RxTest
      - carthage: RxBlocking
