version: 2
jobs:
  build:

    macos:
      xcode: "10.1.0"
    
    # This should set the approprate ruby version from the .ruby-version file
    shell: /bin/bash --login -eo pipefail

    environment:
      ENV: CI
      BUNDLE_PATH: vendor/bundle
      MINT_PATH: MintCache/mint/lib
      MINT_LINK_PATH: MintCache/bin

    steps:
      - checkout

      - restore_cache:
          keys:
            - rome
            - v1-gems-{{ checksum "Gemfile.lock" }}
            - v1-gems-
            - mint

      - run:
          name: Setup Project
          command: brew bundle && bundle install

      - run:
          name: Bootstrap Project
          command: bundle exec fastlane bootstrap

      - run:
          name: Verify SwiftGen Causes No Changes
          command: bundle exec fastlane verify_swiftgen

      - run:
          name: Lint project
          command: bundle exec fastlane lint

      - run:
          name: Build and run tests
          command: bundle exec fastlane test

      - save_cache:
          key: rome
          paths:
            - RomeCache

      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - save_cache:
          key: mint
          paths:
            - MintCache

      - store_test_results:
          path: fastlane/test_output
      - store_artifacts:
          path: fastlane
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs
